<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jrue.poc.springmybatis.persistence.UserMapper">

	<resultMap type="User" id="userResult">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="PASSWORD" property="password" />
		<result column="DEPARTMENTNAME" property="departmentName" />
		<result column="EMPLOYEEID" property="employeeId" />
		<collection property="roles" ofType="Role">
			<id column="ROLEID" property="roleId" />
			<result column="ROLENAME" property="roleName"/>
		</collection>
	</resultMap>

	<cache />

	<select id="findAll" resultMap="userResult">
		SELECT
			MU.ID,
			MU.NAME,
			MU.PASSWORD,
			MU.DEPARTMENTNAME,
			MU.EMPLOYEEID,
			MR.ROLEID,
			MR.ROLENAME
		FROM
		M_USER MU
		LEFT JOIN M_USERROLE MUR ON MU.ID = MUR.USERID
		LEFT JOIN M_ROLE MR
		ON MR.ROLEID = MUR.ROLEID
		WHERE DELFLAG = 0
		ORDER BY ID
	</select>

	<select id="findByName" parameterType="String" resultMap="userResult">
		SELECT
			MU.ID,
			MU.NAME,
			MU.PASSWORD,
			MU.DEPARTMENTNAME,
			MU.EMPLOYEEID,
			MR.ROLEID,
			MR.ROLENAME
		FROM
		M_USER MU
		LEFT JOIN M_USERROLE MUR ON MU.ID = MUR.USERID
		LEFT JOIN M_ROLE MR
		ON MR.ROLEID = MUR.ROLEID
		WHERE UPPER(NAME) = UPPER(#{value})
		AND DELFLAG = 0
	</select>

	<select id="count" resultType="int">
		SELECT
		COUNT(*) COUNT
		FROM
		M_USER
		WHERE DELFLAG = 0
	</select>

	<select id="findOne" parameterType="User" resultMap="userResult">
		SELECT
		*
		FROM
		M_USER
		WHERE
		ID = #{id}
		AND DELFLAG = 0
	</select>

	<insert id="save" parameterType="User">
		INSERT INTO M_USER (NAME,
		PASSWORD, DEPARTMENTNAME, EMPLOYEEID, DELFLAG)
		VALUES (#{name},
		#{password}, #{departmentName}, #{employeeId}, 0)
	</insert>

	<update id="update" parameterType="User">
		UPDATE M_USER
		SET
		NAME =
		#{name},
		PASSWORD = #{password},
		DEPARTMENTNAME = #{departmentName},
		EMPLOYEEID = #{employeeId}
		WHERE ID = #{id}
	</update>

	<update id="delete" parameterType="User">
		UPDATE M_USER
		SET
		DELFLAG = 1
		WHERE NAME = #{name}
	</update>
</mapper>